{% extends 'base.html' %}

{% block content %}
<h3 class="d-flex justify-content-left">Here are your results:</h3></a>
{% if locations|length > 0 %}
{% if locations|length > 5 %}
<h5 class="d-flex justify-content-left"><a href="/"></a>We found lots of results, you might want to reduce the travel time - click here to search again</a></h5>
{% else %}
<h5 class="d-flex justify-content-left">These look like some good locations for you</h5>
{% endif %}
<h5 class="d-flex justify-content-left">Click on each result to see what is in the area</h5>
{% for location in locations %}
<div class="text-justify">
    <a href="https://www.google.com/maps/@{{ location.latitude }},{{ location.longitude }},16z" target="_blank" rel="noopener noreferrer"><p>{{ location.text_location }}</p></a>
</div>
{% endfor %}
{% else %}
<div class="text-justify">
    <a href="/"><p>Unfortunately we didn't find any suitable locations, but you can click here to try again with a larger travel time</p></a>
</div>
{% endif %}
{% endblock %}