{% extends 'base.html' %}

{% block content %}
<!--Tag for API response data-->
<div class="row media" style="--bs-gutter-x: 0;">
    <div id="map" class="fill position-fixed"></div>
    <div class="col-auto gy-2 gx-2" id="info">
        <nav class="navbar navbar-light d-md-none">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        <div class="collapse show d-lg-block" id="collapse">
            <div class="card shadow" style="max-width: 50vh;">
                {% if response_data.error_addresses | length > 0 %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="close btn bg-transparent justify-content-left" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="alert-heading">We couldn't find some addresses</h4>
                {% for location in response_data.error_addresses %}
                    <p>{{ location.source_location }}</p>
                {% endfor %}
                </div>
                {% endif %}
                <div id="card_content" class="container gy-3">
                {% if response_data.result_locations | length == 0 %}
                    <div class="text-justify">
                        <p class="d-flex justify-content-left">We couldn't find any suitable suggestions</p>
                        <hr>
                        <a href="/">
                            <p class="mb-3">Try again?</p>
                        </a>
                    </div>
                {% else %}
                    <p>Here are some suggestions - click a location to see it on the map:</p>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<meta id="response_data_tag" data-key='{{ response_data | tojson }}'>

<script src="https://maps.googleapis.com/maps/api/js?key={{ response_data.maps_api_key }}&libraries=places&callback=initMap&v=weekly"
    defer></script>
{% endblock %}