{% extends 'base.html' %}

{% block content %}
<div class="py-2">
    <h3 class="justify-content-left">{% block title %} Where to meet? {% endblock %}</h3>
</div>
<div>
    <!-- Content here -->
    <p>Add your desired travel time, and some addresses to get a few suggested meeting places inbetween</p>
    <form action = "calculate" method = "GET">
    <div class="form-group" id="input_form">
        <div class="input-group mb-3">
            <input type="number" class="form-control" id="travel_time" name="travelTime" placeholder="Travel time, minutes (must be <{{max_time}})" step="1">
        </div>
        <div class="input-group mb-3" id="first_address_input_group">
            <div class="col-xs justify-content-left">
                <select class="form-select left-side-dropdown" name="transportType">
                    <option selected value="public_transport">Public Transport</option>
                    <option value="driving">Driving</option>
                    <option value="cycling">Cycling</option>
                    <option value="walking">Walking</option>
                </select>
            </div>
            <input type="text" autocomplete="off" class="form-control input_address" id="input_address_1" name="address" placeholder="Enter Address">
        </div>
        <div class="input-group mb-3">
            <div class="col-xs">
                <select class="form-select left-side-dropdown" name="transportType">
                    <option selected value="public_transport">Public Transport</option>
                    <option value="driving">Driving</option>
                    <option value="cycling">Cycling</option>
                    <option value="walking">Walking</option>
                </select>
            </div>
            <input type="text" autocomplete="off" class="form-control input_address" id="input_address_2" name="address" placeholder="Enter Address">
        </div>
    </div>
    <div class="input-group mb-3 justify-content-left">
        <button id="extra_address" class="btn btn-primary" type="button">+</button>
    </div>
    <div class="input-group mb-3">
        <button id="submit_button" class="btn btn-primary" type="submit">Submit</button>
    </div>
    </form>
</div>

<script type="text/javascript">
    $("#extra_address").click(function () {
        elementNumber = document.getElementById('input_form').getElementsByTagName('input').length
        if(elementNumber <= 10) {
            newRowId = "input_address_" + String(elementNumber)
            $('#first_address_input_group').clone(true, true)
                                           .find("input:text")
                                           .val("")
                                           .end()
                                           .find("#input_address_1")
                                           .attr('id', 'input_address_' + elementNumber)
                                           .end()
                                           .appendTo("#input_form");
        } else {
            $('#input_form').append('<p class="text-danger font-weight-bold">You can only have up to 10 addresses</p>');
        }
    });
</script>

<script type="text/javascript">
    // These headers are needed to authenticate the request
    var authHeaders = {
        "X-Application-Id": "9e92dc47",
        "X-Api-Key": "ea73781a50a84f6135b7a46ec5b3d03a",
        "Accept-Language": "en-US"
    };

    function setupAutocomplete(selector) {
        var options = {
            // The url for the Autocomplete service
            serviceUrl: "https://api.traveltimeapp.com/v4/geocoding/search",
            ajaxSettings: {
                headers: authHeaders,
                dataType: "json"
            },
            lookupLimit: 5,
            minChars: 2,
            deferRequestBy: 300,
            transformResult: transformGeocodingResult,
        }
        $(selector).devbridgeAutocomplete(options);
    }

    // Transform the Geocoding result to what autocomplete expects. 
    function transformGeocodingResult(response) {
        return {
            suggestions: response.features.map(feature => { return { value: feature.properties.label, data: feature.geometry.coordinates }; })
        }
    }

    //$(document).ready(setupAutocomplete('.input_address'))
    setupAutocomplete('.input_address')
</script>

<script type="text/javascript">
    document.getElementById("submit_button").onclick = function () {
        location.href = "calculate";
    };
</script>
{% endblock %}