{% extends 'base.html' %}

{% block content %}
<div class="py-2">
    <h3 class="justify-content-left">{% block title %} Where to meet? {% endblock %}</h3>
</div>
<div>
    <!-- Content here -->
    <p>Add your desired travel time, and your addresses to get some suggested meeting places</p>
    <form action = "calculate" method = "GET">
    <div class="form-group" id="input_form">
        <div class="input-group mb-3">
            <input type="number" class="form-control" id="travel_time" name="travelTime" placeholder="Travel time, minutes (must be <{{max_time}})" step="1">
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="input_address" name="address" placeholder="Enter Address">
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="input_address" name="address" placeholder="Enter Address">
        </div>
    </div>
    <div class="input-group mb-3" id="extra_address">
        <button id="extra_address" class="btn btn-primary" type="button">+</button>
    </div>
    <div class="input-group mb-3">
        <button id="submit_button" class="btn btn-primary" type="submit">Submit</button>
    </div>
    </form>
</div>

<script type="text/javascript">
    document.getElementById("extra_address").onclick = function () {
        newRowAdd =
        '<div class="input-group mb-3">' +
        '<input type="text" class="form-control" id="input_address" name="address" placeholder="Enter Address">' +
        '</div>';
        
        if(document.getElementById('input_form').getElementsByTagName('*').length <= 20) {
            $('#input_form').append(newRowAdd);
        } else {
            $('#input_form').append('<p class="text-danger font-weight-bold">You can only have up to 10 addresses</p>');
        }
    };
</script>

<script type="text/javascript">
    document.getElementById("submit_button").onclick = function () {
        location.href = "calculate";
    };
</script>
{% endblock %}